.header a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    display: none;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 30px;
    margin-top: -5px;
}
.navigation ul li a:hover {
    background-color: #9e9e9c;
}